.band-img {
  /* width: 200px;
  height: 200px; */
}
.card-img {
}
.card {
  /* border: 1px solid black; */
  border-radius: 2rem 0 2rem 0;
  padding: 2rem;
}
.card:hover {
  box-shadow: 0 0 0.5rem rgb(1, 36, 56);
}
.card {
  background-image: linear-gradient(to right, #486983 0%, #6a95b8 100%);
}
.underline {
  margin-top: 0.1rem;
  width: 11rem;
  border-bottom: 2px solid salmon;
}
.card-details {
  box-shadow: 0 0 0.5rem rgb(36, 35, 35);
  margin-top: 0.5rem;
}
.invite-btn {
  margin-top: 1rem;
  width: 100%;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  color: #0d2335;
  background-color: rgb(252, 160, 150);
  border: 1.5px solid tomato;
  outline: none;
}
.details-underline {
  width: 5remf;
  border-bottom: 1px solid rgb(182, 181, 181);
}
